.button {
  border: none;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;

  &.transparent {
    background: transparent;
  }

  &.light {
    background: yellow;
    color: #3f093f;
  }

  &.dark {
    background: #3f093f;
    color: #fff;
  }

  & > svg {
    width: 1.5rem;
  }

  &:hover {
    filter: brightness(0.85);
  }
}
