#login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 20rem;
    border-radius: 5px;
    padding: 3rem;
    background-color: #6b206b;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;

    input {
      font-size: 1rem;
    }

    &.light-mode {
      background-color: #d3d338;

      button {
        color: #fff;
        background-color: #3f093f;
      }
    }

    button {
      align-self: center;
      background-color: yellow;
    }
  }
}
